.header {
	text-align: center;
	padding: 20px 0px;
	background-color: rgb(43, 92, 226);
}

.head-name {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    float: left;
    padding-left: 5vh;
}

.controls {
    overflow: auto;
}
